@import "../../../../assets/styles/Colors.scss";

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &--title {
    font-weight: normal;
    font-size: 30px;
    color: $purple-2;
    margin: 20px 0 0;
    text-align: center;
  }
}
